.footer {
  position: fixed;
  background-color: #00000026;
  bottom: 0;
  width: 100%;
  &--contact {
    color: white;
    display: flex;
  }
}

@media only screen and (max-width: 450px) {
  .footer {
    position: fixed;
    background-color: #00000026;
    bottom: 0;
    width: 100%;
    &--contact {
      color: white;
      display: flex;
    }
  }
}
$speed: 0.5s;

.btn-flip {
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  font-family: "Taviraj";
  text-transform: uppercase;

  &:hover {
    &:after {
      opacity: 1;
      transform: translateY(0) rotateX(0);
    }

    &:before {
      opacity: 0;
      transform: translateY(50%) rotateX(90deg);
    }
  }

  &:after {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    color: #323237;
    display: block;
    transition: $speed;
    position: absolute;
    background: #adadaf;
    content: attr(data-back);
    transform: translateY(-50%) rotateX(90deg);
  }

  &:before {
    top: 0;
    left: 0;
    opacity: 1;
    color: #adadaf;
    display: block;
    padding: 0 30px;
    line-height: 40px;
    transition: $speed;
    position: relative;
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
  }
}
// .glow-on-hover {
//   width: 220px;
//   height: 50px;
//   border: none;
//   outline: none;
//   color: #fff;
//   background: none;
//   cursor: pointer;
//   position: relative;
//   z-index: 0;
//   border-radius: 10px;
// }

// .glow-on-hover:before {
//   content: "";
//   background: linear-gradient(
//     45deg,
//     #ff0000,
//     #ff7300,
//     #fffb00,
//     #48ff00,
//     #00ffd5,
//     #002bff,
//     #7a00ff,
//     #ff00c8,
//     #ff0000
//   );
//   position: absolute;
//   top: -2px;
//   left: -2px;
//   background-size: 400%;
//   z-index: -1;
//   filter: blur(5px);
//   width: calc(100% + 4px);
//   height: calc(100% + 4px);
//   animation: glowing 20s linear infinite;
//   opacity: 0;
//   transition: opacity 0.3s ease-in-out;
//   border-radius: 10px;
// }

// .glow-on-hover:active {
//   color: none;
// }

// .glow-on-hover:active:after {
//   background: transparent;
// }

// .glow-on-hover:hover:before {
//   opacity: 1;
// }

// .glow-on-hover:after {
//   z-index: -1;
//   content: "";
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   background: none;
//   left: 0;
//   top: 0;
//   border-radius: 10px;
// }

// @keyframes glowing {
//   0% {
//     background-position: 0 0;
//   }
//   50% {
//     background-position: 400% 0;
//   }
//   100% {
//     background-position: 0 0;
//   }
// }
