.restaurant {
  margin-top: 7rem;
  font-family: 'Lora';
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 90%;

  h1 {
    font-size: 2rem;
  }
  .restaurant-header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 1rem;

    .header-link {
      font-size: 1.2rem;
      background-color: rgba(255, 255, 255, 0.144);
      padding: 0.8rem;
      border-radius: 5px;
      margin: 00.5rem;
    }

    .header-link-arrow {
      font-size: 1.2rem;
      background-color: rgba(255, 255, 255, 0.144);
      padding: 0.8rem;
      border-radius: 5px;
      display: flex;
      align-items: center;
      margin: 00.5rem;
    }
  }

  .all-restaurants {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 69vh;
  }
  .one-restaurant {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.219);
    padding: 2rem;
    margin: 2rem;
    width: 28%;
    min-width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .activity-rate {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
    }
    h3 {
      font-weight: bold;
      font-size: 1.2rem;
      margin: 1rem;
    }
    img {
      width: 100%;
      border-radius: 15px;
      margin-bottom: 1rem;
      height: 200px;
      object-fit: cover;
    }

    .resto-address {
      margin-bottom: 1rem;
    }

    .resto-contact {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .resto-phone {
      margin-right: 1rem;
    }

    .resto-infos {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 2rem;
      padding-left: 2rem;
      padding-right: 2rem;
      font-size: 1.2rem;
      .resto-link {
        color: #e80dc0;
        text-decoration: underline;
        font-weight: bold; 
      }
    }

    .resto-cook {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      h4 {
        font-weight: bold;
        justify-content: left;
        margin: 0.5rem;
      }
      .all-cooks {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        border-radius: 5px;
        width: 100%;

        .resto-cooks {
          margin: 0.2rem;
          border-radius: 5px;
          background-color: rgba(255, 255, 255, 0.164);
          padding: 0.3rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1333px) {
  .all-restaurants .one-restaurant {
    background-color: rgba(255, 255, 255, 0.142);
    border-radius: 10px;
    width: 45%;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

@media screen and (max-width: 900px) {
  .all-restaurants .one-restaurant {
    background-color: rgba(255, 255, 255, 0.142);
    border-radius: 10px;
    width: 40%;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .links {
    display: none;
  }
}

@media only screen and (max-width: 740px) {
  .all-restaurants .one-restaurant {
    background-color: rgba(255, 255, 255, 0.142);
    border-radius: 10px;
    width: 80%;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .restaurant .all-restaurants {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: 55vh;
  }
  .restaurant .restaurant-header {
    display: flex;
    width: 95%;
    flex-direction: column;
    align-items: stretch;
  }
  .restaurant .restaurant-header .header-link-arrow {
    font-size: 1.2rem;
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.144);
    padding: 0.8rem;
    border-radius: 5px;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .links {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
}

/* hide scrollbar but allow scrolling */
.all-restaurants::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
.all-restaurants {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}
